.index-header {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.categories {
  li {
    display: inline-block;
    margin: 20px;
    width: 175px;
    height: 175px;
    padding-top: 45px;
    border-radius: 100%;
    background-color: #281D3D;
    color: white;
    font-size: 16pt;
  }
  a {
    color: white;
  }
  li:hover {
    color: #281D3D;
    background-color: white;
    border: 3px dotted #281D3D;
  }
}

#categories {
  margin-top: 100px;
  margin-bottom: 145px;
}

.category {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 115px;
  height: 115px;
  padding-top: 20px;
  border-radius: 100%;
  background-color: #281D3D;
  color: white;
  font-size: 16pt;
  line-height: 125%;
}

.grey {
  background-color: whitesmoke;
}

.examples {
  li {
    width: 200px;
    height: 140px;
    margin: 15px;
    padding-top: 10px;
    display: inline-block;
  }
}

.arrow-up {
  font-size: 3em;
  color: #281d3d;
  text-align: center;
  a {
    color: #281d3d;
  }
}
/******* PARALLAX ********/
$parallax-window-height: 32em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.parallax-static-content {
  font-family: 'Volkhov', serif;
  text-align: center;
  margin-top: 5px;
  font-size: 2em;
  color: #281D3D;
  padding: 13px 0 32em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  opacity: 0.5;
  background: url("http://i.forbesimg.com/media/2014/12/17/1217_charity-donation_1200x675.jpg");
  background-position: top;
  background-size: auto;
  background-color: black;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

/******* CHARITY TILES *******/
.hover-tile-outer {
  $base-border-color: gainsboro !default;
  $base-line-height: 1em !default;
  $medium-screen: em(640) !default;
  $hover-tile-height: 10em;
  $base-spacing: 1.5em;

  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  background-position: top;
  background-size: cover;
  background-color: #281D3D;
  border: 1px solid $base-border-color;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  display: inline-block;

  @include media($medium-screen) {
    margin: 25px;
    width: 15%;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    background: #281D3D;
    @include transform(translate(0, -100%));
    a {
      color: white;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
    }
  }

  .hover-tile {
    @include transition(all, 0.2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
    text-align: center;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.5);

    p {
      color: transparentize(#fff, 0.3);
      line-height: $base-line-height;
    }

    h4 {
      margin: 0 0 0.5em 0;
    }
  }
}

/****** USER PROFILE *******/
.profile-title {
  text-align: center;
  h4 {
    background: #BBB;
    color: white;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 1.3em;
    padding: 3px 8px;
    text-transform: uppercase;
  }
}

.side-image {
  margin-left: 200px;
}

.images-wrapper {
  background-size: cover;
  min-height: 8em;
  padding: 3em;

  @include media($large-screen) {
    @include span-columns(4);
    background-position: bottom;
    background-size: cover;
    border-right: 1px solid darken(transparentize(#5DAC5D, 0.8), 30%);
  }
}

.side-image-content {
  padding: 1em 1em 4em 1em;
  h1 {
    margin-bottom: 0.9em;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }
}