@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";

@import "sign-up-form";
@import "users-index";
@import "post-show";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Volkhov);
@import "font-awesome";

.alert {
  color: red;
  text-align: center;
}

.notice {
  background-color: #281D3D;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#container {
  @include outer-container();
}

/****** NAV ******/
.navigation {
  font-family: 'Montserrat', sans-serif;
  height: 60px;
  padding: 20px;
  background-color: #281D3D;
  .title {
    float: left;
    color: white;
  }
  li {
    float: right;
    display: inline-block;
    padding: 0 10px 0 10px;
  }
  li:nth-child {
    border-right:0;
  }
  a {
    color: white;
  }
  a:hover {
    font-weight: bold;
  }
}

.menu-bar-bottom {
  height: 40px;
  background-color: #281D3D;
  text-align: center;
  li {
    display: inline-block;
    margin: 10px;
  }
  a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
  }
}

/****** FOOTER ******/
.footer-2 {
  $base-spacing: 1.5em !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: #281D3D;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    font-weight: 800;
    list-style: none;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}