@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";

@import "sign-up-form";
@import "users-index";
@import "post-show";
@import "user-show";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Volkhov);
@import "font-awesome";

.alert {
  color: red;
  text-align: center;
}

.notice {
  background-color: #281D3D;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#container {
  @include outer-container();
}

/****** NAV ******/
.navigation {
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 60px;
  padding: 20px;
  background-color: #281D3D;
  .title {
    float: left;
    color: white;
  }
  li {
    float: right;
    display: inline-block;
    padding: 0 10px 0 10px;
  }
  li:nth-child {
    border-right:0;
  }
  a {
    color: white;
  }
  a:hover {
    font-weight: bold;
  }
}

.nav-give-by {
  li {
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    margin-top: 0;
    display: inline-block;
    text-align: center;
    width: 110px;
    height: 110px;
    padding-top: 30px;
    border-radius: 100%;
    background-color: #281D3D;
    color: white;
    font-size: 12pt;
    border: 2px solid white;
  }
}

.menu-bar-bottom {
  height: 60px;
  background-color: #281D3D;
  text-align: center;
  li {
    display: inline-block;
    margin: 10px;
  }
  a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
  }
  .arrow {
    font-size: 2em;
  }
}

.what-is-this {
  padding-top: 5px;
  font-size: .65em;
  line-height: 200%;
}

.mission {
  margin: 125px;
  color: #281D3D;
  a{
    color: #281D3D;
  }
}

.mission-title {
  font-family: 'Volkhov', serif;
}

.mission-sub-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .5em;
  text-align: center;
}

#non-profits {
  margin-top: 100px;
  margin-bottom: 100px;
}

/******* PARALLAX ********/
$parallax-window-height: 32em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.parallax-static-content {
  font-family: 'Volkhov', serif;
  text-align: center;
  margin-top: 5px;
  font-size: 2em;
  color: #281D3D;
  padding: 13px 0 32em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  opacity: 0.5;
  background: url("http://i.forbesimg.com/media/2014/12/17/1217_charity-donation_1200x675.jpg");
  background-position: top;
  background-size: auto;
  background-color: black;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

/****** FOOTER ******/
.footer-2 {
  $base-spacing: 1.5em !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: #281D3D;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

}